$black-pearl: #1b2733;
$blue-bayoux: #657383;
$true-blue: #0070e0;
$solitude-blue: #e4edf5;
$whispher-blue: #f6f7fb;
$sunset-orange: #ff4949;
$malachite-green: #13ce66;
$blue-bayoux-opacity:rgba(101, 115, 131, .4);
$blue-bayoux-text-image:rgba(101, 115, 131, .8);
$blue-box-shadow: 0 5px 20px 0 rgba(138, 168, 230, .2);
$light-border: #ebebeb;
$blue-border: $solitude-blue;
$light-blue-border: rgba(0, 112, 224, 0.3);
$light-blue-bg: $whispher-blue;
$border-1px: 1px solid $light-border;
$white: #fff;
$linckedin-bg-clr: #0077b5;
$google-bg-clr: #dc4e40;
$dflt-txt-clr: $blue-bayoux;
$signin-bg-clr: #ff6549;
$a-tag-clr: $true-blue;
$dflt-btn-clr: $true-blue;
$placeholder-clr: #ababab;
$gray-txt-clr: #ababab;
$menu-hovr-clr: rgba(0, 0, 0, .04);
$white-transparent-clr: rgba(255, 255, 255, .1);
$gray-transparent-clr: rgba(0, 0, 0, 0.7);
$gray-transparent-lit: rgba(0, 0, 0, 0.2);
$gray-light-shadow: rgba(0, 0, 0, 0.1);
$blue-light-shadow: rgba(138,168,230,.2);
$gray-light-transparent-clr: rgba(0, 0, 0, 0.6);
$arrow-color: $blue-bayoux-opacity;
$blue-clr: $true-blue;
$red-clr: #ff6549;
$black-clr: #000;
$green-clr: #48cda5;
$orange-clr-lit: #ff9568;
$orange-clr: #ff694f;
$light-bg-clr: #fcfcfc;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$modal-box-shadow: 0 2px 30px 0 rgba(101, 115, 131, 0.2);
$dropdown-box-shadow: 0 2px 50px 0 rgba(101, 115, 131, 0.3);
$drp-dwn-bg: #ddd;
$modal-bg: #e6e6e6;
$pinck-clr: #fa80a5;
$pinck-clr-drk: #EF215F;
$pinck-clr-lit: #FBD4E0;
$lit-blue-bg: #F2F7FD;
$lit-red-bg: #FFD7D0;
$lit-gray-bg: #FAFAFA;
$gray-bg-clr: #EAEAEA;
$drk-gray-bg: #333333;
$tab-text-clr: $black-pearl;
$modal-head-color: #142a38;
$linear-gradient: linear-gradient(to right, #fbfbfb, #ececec);
$linear-gradient-blue: linear-gradient(to right, #fbfbfb, $lit-blue-bg);
$grid-active-clr: #f4f9ff;
$spin-clr: #333;
$chip-bg-clr: #fcfcfc;
$chip-border-clr: #ebebeb;
$green-menu-color: #48cda5;
$footer-tab-color: #ef215f;
$footer-color: #142a38;
$err-bg: #FFEFEF;
$err-txt-clr: $sunset-orange;
$err-border-clr: #ff4949;
$success-bg:  #e8f7ed;
$success-txt-clr: #1ba84e;
$success-border-clr: $malachite-green;
$disabled: #9e9e9e;
$yellow-clr: #ffc66d;
$grey-clr: #ccc;
$lit-grey-clr: #929292;
$bright-red-clr: #c72121;
$sky-blue-clr: #2d8ac7;
$alice-blur-clr: #f0f8ff;
$grey-border: #d3d3d3;
$blur-blue: #ecf5fb;
$lit-yellow-clr: #ffdda6;
$pale-grey-clr: #ddd;
$dark-blue-clr: #132a38;
$dark-green-clr: #076153;
$search-text: #2d2d2d;
$blurry-text-shadow: 0 0 20px rgba(0, 0, 0, 1);
$dim-grey-clr: #dfdfdf;
$dark-black-clr: rgba(0, 0, 0, .87);
$grey-close: #8f8f8f;
$blurry-text-diff-opacity: rgba(0, 0, 0, .87);
$notification-green: #31ab86;
$grey-btn-text: #657383;
$tag-gray-bg: #f4f4f4;
$msg-blue: #2c3e50;
$edit-txt-border: #979797;
$react-tag-box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
$react-tag-border-bottom: 1px solid $pale-grey-clr;
$react-tag-suggestion-background: #b7cfe0;
$fade-in-clr-opacity: rgba(0, 0, 0, .7);
$heap-footer: #f3eff0;
$feedback-note: rgba(158, 158, 158, .87);
$tooltip-bg: rgba(37, 36, 36, .9);
$pagination-gray: $whispher-blue;
$pagination-border: $solitude-blue;
$pagination-quickjump: #d9d9d9;
$pagination-quickjump-hover: #2db7f5;
$faded-text: rgba(255, 255, 255, .6);
$dropdown-box-shadow: 0 2px 30px 0 rgba(101, 115, 131, 0.1);
$notification-message: #ff7849;
$white: #fff;
$blue-opaque-modal: rgba(27, 39, 51, .98);
$blue-opaque: rgb(27, 39, 51);
$transparent-white: rgba(255, 255, 255, .5);
$high-transparent-white: rgba(255, 255, 255, 0.3);
$faded-border-blue: rgba(158, 171, 185, 0);
$warning-red: #f44336;
$disabled-text: rgba(101, 115, 131, 0.4);
$disabled-grey-text: rgba(101, 115, 131, 0.6);
$disabled-border: rgba(101, 115, 131, 0.2);
$error-red: rgba(255, 167, 167, 0.18);
$grey-blue: rgba(0, 112, 224, 0.1);
$orange-moderate: rgba(252, 245, 225, 0.84);
$orange-brown: #e49c14;
$solitaire-grey: #C1C7CD;
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;
